<button class="btn btn-primary" (click)="isVisible = !isVisible">Переключить</button>
<hr>
<div
  @divTrigger
  (@divTrigger.start)="onAnimationStart($event)"
  (@divTrigger.done)="onAnimationDone($event)"
  class="alert alert-danger"
  *ngIf="isVisible"
>
  Lorem ipsum dolor sit amet.
</div>
